@page
@model AddToMyQueue.Web.Pages.CallbackModel
@{
    ViewData["Title"] = "Callback";
}
<label class="display-6 d-inline-flex">@Model.Code</label>
<label class="display-6 d-inline-flex">@Model.State</label>
