@page
@model IndexModel
@{
    ViewData["Title"] = "AddToMyQueue";
}

<div id="WelcomeCard" class="card text-light text-center pb-5">
    <div class="card-body">
    <label class="display-6">Welcome to AddToMyQueue!</label>
        <label class="d-block"><em>Where you can... well... add to my queue!</em></label>
    </div>
</div>
